entrypoint = "main.py"
modules = ["python-3.11"]

[interpreter]
command = ["python3", "-u"]

[env]
PORT = "8000"

[run]
command = ["python3", "-u", "main.py"]

[[ports]]
localPort = 8000
externalPort = 80

[nix]
packages = ["docker-client"]
