entrypoint = "main.py"
modules = ["python-3.11"]

[interpreter]
command = ["python3", "-u"]

[env]
PORT = "8000"

[run]
command = ["python3", "-u", "main.py"]

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 3000

[nix]
packages = ["cairo", "docker-client", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "streamlit", "tcl", "tk"]
